# package directories
serverless/node_modules
client/node_modules

# Serverless directories
serverless/.serverless

# Environment Variables
serverless/secrets.json
serverless/etc/.test-env
client/.env

#misc
.DS_Store
serverless/.DS_Store
client/.DS_Store
client/yarn-error.log
serverless/.vscode
serverless/.nyc_output
serverless/coverage
client/.vscode
