// To overwrite some bootstrap css properties
@import "/dist/css/bootstrap.min.css";
$body-bg: #000;
$brandOrange: #ff7800;

input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: white;
  color: black;
  &:focus {
    border-color: $brandOrange;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
  font-size: 0.8em;
  font-family: "Montserrat-regular";
  font-weight: 200;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  font-size: 0.8em;
  font-family: "Montserrat-regular";
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
  font-size: 0.8em;
  font-family: "Montserrat-regular";
}
:-moz-placeholder {
  /* Firefox 18- */
  color: black;
  font-size: 0.8em;
  font-family: "Montserrat-regular";
}

button {
  border-style: none;
}

@media screen and (max-width: 780px) {
  ::-webkit-input-placeholder {
    font-size: 0.6em;
  }
  ::-moz-placeholder {
    font-size: 0.6em;
  }
  :-ms-input-placeholder {
    font-size: 0.6em;
  }
  :-moz-placeholder {
    font-size: 0.6em;
  }
}
